.resent_posts_block
	{
		padding-right: 10px;
		font-family: "Trebuchet MS";
    	margin-bottom: 15px;
    	margin-left: auto;
    	margin-right: auto;
    	font-size: 10px;
    	width: 280px;
	}

.resent_posts_block ul
	{
		list-style-type: decimal;
		padding: 0px;
	}